<!DOCTYPE html>
<html>
<head>
  <link href="../vendor/modus/modus.min.css" rel="stylesheet">
  <script src="../vendor/modus/jquery.js"></script>
  <script src="../vendor/modus/bootstrap.bundle.min.js"></script>
  <script src="../vendor/vue.js"></script>
</head>
<body>
  <div id="app">
    <template v-if="material">
      <h2>{{ material.display_name }}</h2>

      <h3>Color</h3>

      <form class="ui form">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="ui-color-red">Red</span>
          </div>
          <input type="number" min="0" max="255" class="form-control"
                  placeholder="Red"
                  aria-label="Red" aria-describedby="ui-color-red"
                  v-model.number="material.color.red">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="ui-color-green">Green</span>
          </div>
          <input type="number" min="0" max="255" class="form-control"
                  placeholder="Green"
                  aria-label="Green" aria-describedby="ui-color-green"
                  v-model.number="material.color.green">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="ui-color-blue">Blue</span>
          </div>
          <input type="number" min="0" max="255" class="form-control"
                  placeholder="Blue"
                  aria-label="Blue" aria-describedby="ui-color-blue"
                  v-model.number="material.color.blue">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="ui-color-opacity">Opacity</span>
          </div>
          <input type="number" min="0" max="100" class="form-control"
                  placeholder="Opacity"
                  aria-label="Opacity" aria-describedby="ui-color-opacity"
                  v-model.number="opacity">
        </div>

      </form>

      <template v-if="material.texture">
        <h3>Texture</h3>

        <div class="jumbotron p-2 mb-2">
          <b>Pixel Size:</b>
          <div>
            {{ material.texture.pixel_width }}
            x
            {{ material.texture.pixel_height }}
          </div>
        </div>

        <div class="jumbotron p-2 mb-2">
          <b>Model Size:</b>
          <div>
            {{ material.texture.model_width_formatted }}
            x
            {{ material.texture.model_height_formatted }}
          </div>
        </div>

        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="ui-colorize"
                 v-bind:value="material.colorize_type"
                 v-bind:checked="material.colorize_type == 1"
                 v-on:change="material.colorize_type = ($event.target.checked) ? 1 : 0"
                 >
          <label class="custom-control-label" for="ui-colorize">Colorize</label>
        </div>

      </template>

    </template>
    <template v-else>
      <h2>[No Material Selected]</h2>
      <p>Select an entity with a material.</p>
    </template>

    <p>
      <button class="ui button" v-on:click="apply">Apply</button>
      <button class="ui button" v-on:click="cancel">Cancel</button>
      <button class="ui button" v-on:click="accept">OK</button>
    </p>

  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        material: null,
      },
      computed: {
        opacity: {
          get() {
            return (this.material) ? Math.round(this.material.alpha * 100) : 0;
          },
          set(value) {
            this.material.alpha = value / 100.0
          }
        }
      },
      methods: {
        apply: function() {
          sketchup.apply(this.material);
        },
        accept: function() {
          sketchup.accept(this.material);
        },
        cancel: function() {
          sketchup.cancel();
        },
      },
      mounted: function() {
        sketchup.ready();
      },
    });

    function updateMaterial(material) {
      app.material = material;
    }
  </script>
</body>
</html>
